#gameArea {
  position: relative;
  width: 50vw; /* Half of the viewport width */
  height: 50vh; /* Half of the viewport height */
  background-color: #222; /* Default background color */
  overflow: hidden;
  border-radius: 20px; /* Rounded corners */
  background-image: url('/images/GAMEBG.png'); /* Path to your background image */
  background-size: cover; /* Cover the entire area */
  animation: scrollBackground 1s linear infinite; /* Add scrolling animation */
}

/* Keyframes for scrolling the background image downwards */
@keyframes scrollBackground {
  from {
    background-position: 0 1080px;
  }
  to {
    background-position: 0 -1080px;
  }
}

#player {
  position: absolute;
  bottom: 0px; /* Distance from the bottom of the game area */
  left: 50%;
  width: 70px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  background-image: url('/images/playerimg.png'); /* Path to your player image */
  background-size: cover; /* Ensure the image covers the area */
  background-repeat: no-repeat; /* Prevent repeating the image */
  background-position: center; /* Center the image */
  /* transform: translateX(-50%); Center the player horizontally */
}




#startButton {
  font-family: 'Mainfont', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 20px;
  background-color: #0f0;
  border: none;
  cursor: pointer;
  border-radius: 10px; /* Rounded corners for button */
}

#gameOverText {
  display: none; /* Hidden by default */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: red;
  font-weight: bold;
  z-index: 1; /* Make sure it appears above other elements */
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: #fff;
  z-index: 1; /* Ensure it appears above other elements */
}

/* Styles for falling blocks */
.falling-block {
  position: absolute;
  border-radius: 5px; /* Optional: Rounded corners for blocks */
}

